<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fesco | Restaurant Template</title>
    <!-- Render all elements normally  -->
    <link rel="stylesheet" href="css/normalize.css">
    <!-- Font awsome libaray -->
    <link rel="stylesheet" href="css/all.min.css">
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Vollkorn:wght@500&family=Yesteryear&display=swap" rel="stylesheet">
    <!-- Main CSS file -->
    <link rel="stylesheet" href="css/fesco.css">
</head>
<body>
    <!-- start header -->
    <header class="header overlay">
        <div class="container">
            <nav>
                <div class="logo">Fesco</div>
                <i class="fas fa-bars toggle-menu"></i>
                <ul class="nav-links hide-sm">
                    <i class="fas fa-times toggle-menu close"></i>
                    <li class="active">
                        <a href="#">home</a>
                    </li>
                    <li>
                        <a href="#about-us">about us</a>
                    </li>
                    <li>
                        <a href="#menu">menu</a>
                    </li>
                    <li>
                        <a href="#book">reservations</a>
                    </li>
                    <li>
                        <a href="#contact">contact</a>
                    </li>
                </ul>
            </nav>
            <div class="title">
                <i class="fab fa-pagelines icon"></i>
                <h2>making food taste better.</h2>
                <p>Italian specialities</p>
                <p class="desc">
                    Vestibulum ante ipsum primis in faucibus orciluctus et ultrices posuere cubilia.
                </p>
            </div>
            <!-- start contact card -->
            <article class="contact">
                <h2>Contact</h2>
                <p>
                    Vestibulum ante ipsum primis in faucibus orciluctus et ultrices posuere cubilia.
                </p>
                <h3 class="sub-title">address:</h3>
                <address>
                    17 Awesome Street, Belgrade<br>
                    SR 877900
                </address>
                <a href="#" class="link">view map</a>
                <h3 class="sub-title">opening hours:</h3>
                <ul>
                    <li>
                        <span class="dots-after">monday-friday</span>
                        <span>8.00am-11pm</span>
                    </li>
                    <li>
                        <span class="dots-after">saturday-sunday</span>
                        <span>8.00am-10pm</span>
                    </li>
                </ul>
                <a href="#" class="btn outline-btn">table reservation</a>
            </article>
            <!-- end contact card -->
        </div>
    </header>
    <!-- end header -->
    <!-- start about -->
    <section class="about container" id="about-us">
        <div class="title">
            <h2>about us</h2>
            <p class="desc">
                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
            </p>
            <p>
                Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Nulla porttitor accumsan tincidunt. Curabitur aliquet quam id dui posuere blandit. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Pellentesque in ipsum id orci porta dapibus. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Curabitur aliquet quam id dui posuere blandit. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Cras ultricies ligula sed magna dictum porta.
            </p>
            <p>
                Curabitur aliquet quam id dui posuere blandit. Vivamus magna justo, lacinia eget consectetur sed, dictum porta.
            </p>
        </div>
        <div class="img-container">
            <img src="images/about-us.jpg" alt="About image">
        </div>
    </section>
    <!-- end about -->
    <!-- start specialities -->
    <section class="specialities overlay">
        <div class="container">
            <div class="title">
                <h2>our specialities</h2>
                <p class="desc">
                    Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Nulla port or accumsan tincidunt.
                </p>
            </div>
            <div class="content">
                <article class="card">
                    <div class="img-container">
                        <img src="images/spec1.jpg" alt="food">
                    </div>
                    <figcaption>
                        <span class="dots-after">Lasagna</span>
                        <span class="price">19.99$</span>
                    </figcaption>
                </article>
                <article class="card">
                    <div class="img-container">
                        <img src="images/spec2.jpg" alt="food">
                    </div>
                    <figcaption>
                        <span class="dots-after">Lasagna</span>
                        <span class="price">19.99$</span>
                    </figcaption>
                </article>
                <article class="card">
                    <div class="img-container">
                        <img src="images/spec3.jpg" alt="food">
                    </div>
                    <figcaption>
                        <span class="dots-after">Lasagna</span>
                        <span class="price">19.99$</span>
                    </figcaption>
                </article>
                <article class="card">
                    <div class="img-container">
                        <img src="images/spec4.jpg" alt="food">
                    </div>
                    <figcaption>
                        <span class="dots-after">Lasagna</span>
                        <span class="price">19.99$</span>
                    </figcaption>
                </article>
            </div>
        </div>
    </section>
    <!-- end specialities -->
    <!-- start menu -->
    <section class="menu" id="menu">
        <div class="container">
            <div class="title">
                <h2>our menu</h2>
                <p class="desc">
                    Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
                </p>
            </div>
            <div class="categories">
                <article class="category">
                    <h3 class="sub-title">
                        <span class="dots-after"></span>
                        pizza
                        <span class="dots-after"></span>
                    </h3>
                    <ul class="items">
                        <li class="item">
                            <h4 class="sub-title">mexicana</h4>
                            <div>
                                <p>Donec velit neque, auctor sit amet aliquam vel ullamcorper sit amet ligula</p>
                                <span class="price">$19</span>
                            </div>
                        </li>
                        <li class="item">
                            <h4 class="sub-title">mexicana</h4>
                            <div>
                                <p>Donec velit neque, auctor sit amet aliquam vel ullamcorper sit amet ligula</p>
                                <span class="price">$19</span>
                            </div>
                        </li>
                        <li class="item">
                            <h4 class="sub-title">margherita</h4>
                            <div>
                                <p>Donec velit neque, auctor sit amet aliquam vel ullamcorper sit amet ligula</p>
                                <span class="price">$16</span>
                            </div>
                        </li>
                        <li class="item">
                            <h4 class="sub-title">margherita</h4>
                            <div>
                                <p>Donec velit neque, auctor sit amet aliquam vel ullamcorper sit amet ligula</p>
                                <span class="price">$16</span>
                            </div>
                        </li>
                        <li class="item">
                            <h4 class="sub-title">hawain</h4>
                            <div>
                                <p>Donec velit neque, auctor sit amet aliquam vel ullamcorper sit amet ligula</p>
                                <span class="price">$14</span>
                            </div>
                        </li>
                        <li class="item">
                            <h4 class="sub-title">hawain</h4>
                            <div>
                                <p>Donec velit neque, auctor sit amet aliquam vel ullamcorper sit amet ligula</p>
                                <span class="price">$14</span>
                            </div>
                        </li>
                        <li class="item">
                            <h4 class="sub-title">chicken</h4>
                            <div>
                                <p>Donec velit neque, auctor sit amet aliquam vel ullamcorper sit amet ligula</p>
                                <span class="price">$18</span>
                            </div>
                        </li>
                        <li class="item">
                            <h4 class="sub-title">chicken</h4>
                            <div>
                                <p>Donec velit neque, auctor sit amet aliquam vel ullamcorper sit amet ligula</p>
                                <span class="price">$18</span>
                            </div>
                        </li>
                    </ul>
                </article>
                <article class="category">
                    <h3 class="sub-title">
                        <span class="dots-after"></span>
                        desserts
                        <span class="dots-after"></span>
                    </h3>
                    <ul class="items">
                        <li class="item">
                            <h4 class="sub-title">CHOCOLATE HAZELNUT CHEESECAKE</h4>
                            <div>
                                <p>Donec velit neque, auctor sit amet aliquam vel ullamcorper sit amet ligula</p>
                                <span class="price">$7</span>
                            </div>
                        </li>
                        <li class="item">
                            <h4 class="sub-title">CHOCOLATE HAZELNUT CHEESECAKE</h4>
                            <div>
                                <p>Donec velit neque, auctor sit amet aliquam vel ullamcorper sit amet ligula</p>
                                <span class="price">$7</span>
                            </div>
                        </li>
                        <li class="item">
                            <h4 class="sub-title">BANOFFEE TIRAMISU</h4>
                            <div>
                                <p>Donec velit neque, auctor sit amet aliquam vel ullamcorper sit amet ligula</p>
                                <span class="price">$16</span>
                            </div>
                        </li>
                        <li class="item">
                            <h4 class="sub-title">BANOFFEE TIRAMISU</h4>
                            <div>
                                <p>Donec velit neque, auctor sit amet aliquam vel ullamcorper sit amet ligula</p>
                                <span class="price">$16</span>
                            </div>
                        </li>
                        <li class="item">
                            <h4 class="sub-title">STICKY TOFFEE PUDDING</h4>
                            <div>
                                <p>Donec velit neque, auctor sit amet aliquam vel ullamcorper sit amet ligula</p>
                                <span class="price">$14</span>
                            </div>
                        </li>
                        <li class="item">
                            <h4 class="sub-title">STICKY TOFFEE PUDDING</h4>
                            <div>
                                <p>Donec velit neque, auctor sit amet aliquam vel ullamcorper sit amet ligula</p>
                                <span class="price">$14</span>
                            </div>
                        </li>
                        <li class="item">
                            <h4 class="sub-title">PANNA COTTAS</h4>
                            <div>
                                <p>Donec velit neque, auctor sit amet aliquam vel ullamcorper sit amet ligula</p>
                                <span class="price">$18</span>
                            </div>
                        </li>
                        <li class="item">
                            <h4 class="sub-title">PANNA COTTAS</h4>
                            <div>
                                <p>Donec velit neque, auctor sit amet aliquam vel ullamcorper sit amet ligula</p>
                                <span class="price">$18</span>
                            </div>
                        </li>
                    </ul>
                </article>
            </div>
            <a href="#" class="btn filled-btn">view all menu</a>
        </div>
    </section>
    <!-- end menu -->
    <!-- start booking section -->
    <section class="booking overlay" id="book">
        <div class="container">
            <div class="title">
                <h2>book a table</h2>
                <p class="desc">
                    Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
                </p>
            </div>
            <form method="POST">
                <div class="input-fields">
                    <div class="input-group">
                        <label for="date-input">choose a date</label>
                        <input type="date" id="date-input" value="2022-02-01">
                    </div>
                    <div class="input-group">
                        <label for="date-input">choose a time</label>
                        <input type="time" name="date" id="time-input" value="20:00">
                    </div>
                    <div class="input-group">
                        <label for="people-number">number of people</label>
                        <input type="number" name="people-number" id="people-number" value="2">
                    </div>
                </div>
                <input type="submit" value="book now" class="btn filled-btn">
            </form>
        </div>
    </section>
    <!-- end booking section -->
    <!-- start footer -->
    <footer class="footer" id="contact">
        <div class="container">
            <article class="contact">
                <div>
                    <h3 class="sub-title">address:</h3>
                    <address>
                        17 Awesome Street, Belgrade<br>
                        SR 877900
                    </address>
                    <a href="#" class="btn outline-btn">view map</a>
                </div>
                <div>
                    <h3 class="sub-title">opening hours:</h3>
                    <ul>
                        <li>
                            <span class="dots-after">monday-friday</span>
                            <span>8.00am-11pm</span>
                        </li>
                        <li>
                            <span class="dots-after">saturday-sunday</span>
                            <span>8.00am-10pm</span>
                        </li>
                    </ul>
                    <a href="#book" class="btn outline-btn">table reservation</a>
                </div>
                <div>
                    <h3 class="sub-title">we are social</h3>
                    <p>Feel free to check our social media pages</p>
                    <div class="social-icons">
                        <a href="#" class="btn outline-btn">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="btn outline-btn">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="btn outline-btn">
                            <i class="fab fa-google-plus-g"></i>
                        </a>
                        <a href="#" class="btn outline-btn">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </article>
            <p class="copy-right">&copy; 2021 - Fesco all right reserved</p>
            <i class="fas fa-chevron-up scroll-up-btn hide"></i>
        </div>
    </footer>
    <!-- end footer -->

    <!-- main js file -->
    <script src="js/main.js"></script>
</body>
</html>